# Virtual environments
venv/
env/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files (uncomment if needed)
data/gtsrb